# Docker PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=clippy
POSTGRES_PORT=5432

# Scaleway Container Registry Configuration
REGISTRY_URL=rg.nl-ams.scw.cloud
SCW_CR_NAMESPACE=clippy
IMAGE_TAG=staging