# Docker Compose project name (used for networks/volumes/containers)
COMPOSE_PROJECT_NAME=caluno

# Docker PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=caluno
POSTGRES_PORT=5432

# Scaleway Container Registry Configuration
REGISTRY_URL=rg.nl-ams.scw.cloud
SCW_CR_NAMESPACE=caluno
IMAGE_TAG=staging